
/* IMPORTS */
/* comment out imports to your desire */
/* some may be commented out by default */

@import 'src/generic/global.css';
@import 'src/generic/left-pane.css';
@import 'src/generic/pane-splitter.css';
@import 'src/generic/rounded-panes.css';
@import 'src/generic/gradient-bg.css';

@import 'src/tab-list/smooth.css';
@import 'src/tab-list/clear.css';

@import 'src/pages/mail.css';
@import 'src/pages/address-book.css';



/* VARIABLES */

:root {

    /* fonts */
    --fallback-font: 'sans-serif';
    --base-font: 'Be Vietnam Pro';
    --folder-font: 'Be Vietnam Pro';
    --subject-font: 'Be Vietnam Pro';

    /* rounded elements */
    --button-rounding: 8px;
    --listbox-rounding: 8px;
    --pane-rounding: 16px;
    
    /* pane margins (when 'rounded-panes.css' is enabled) */
    --left-pane-margin: 8px 8px;
    --centre-pane-margin: 16px 4px;
    --big-pane-margin: 16px 16px 16px 4px;

    /* specific scenario variables */
    --folderpane-folder-font-size: 1.1em;
    --folderpane-folder-padding: 2px;
    --threadpane-thread-margin: 2px 8px;
    --messagepane-header-margin: 6px;
    --bookpane-contact-margin: 2px 8px;

    /* default background colors */
    --bg-main-base-color: light-dark(var(--color-gray-30),var(--color-gray-100));
    --bg-accent-base-color: light-dark(var(--color-gray-20),var(--color-gray-80));

    /* theme colors */
    --theme-base-color: var(--selected-item-color);
    --theme-faded-light-color: color-mix(in srgb, #f0f0f0 90%, var(--theme-base-color) 10%);
    --theme-faded-dark-color: color-mix(in srgb, #101010 90%, var(--theme-base-color) 10%);
    --theme-faded-color: light-dark(var(--theme-faded-light-color), var(--theme-faded-dark-color));
    --theme-highlight-light-color: color-mix(in srgb, #f0f0f0 50%, var(--theme-base-color) 50%);
    --theme-highlight-dark-color: color-mix(in srgb, #101010 50%, var(--theme-base-color) 50%);
    --theme-highlight-color: light-dark(var(--theme-highlight-light-color), var(--theme-highlight-dark-color));

    /* background colors */
    --bg-main-color: var(--bg-main-base-color);
    --bg-accent-color: var(--bg-accent-base-color);

    /* other colors */
    --pane-splitter-color: transparent;
    --border-main-color: light-dark(var(--color-gray-30), transparent);
    --border-select-color: light-dark(var(--color-gray-80), var(--color-gray-30));

    /* other attributes */
    --box-shadow-subtle: 0px 0px 4px light-dark(#00000011,#00000033);

}