
/* IMPORTS */
/* comment out imports to your desire */
/* some may be commented out by default */
@import 'src/global.css';
@import 'src/tablist-smooth.css';
@import 'src/tablist-clear.css';
@import 'src/mail-clean.css';
@import 'src/rounded-panes.css';
/* @import 'src/gradient-bg.css'; */
@import 'src/left-pane.css';
@import 'src/pane-splitter.css';



/* VARIABLES */
:root {

    /* fonts */
    --fallback-font: 'sans-serif';
    --base-font: 'Be Vietnam Pro';
    --folder-font: 'Be Vietnam Pro';
    --subject-font: 'Be Vietnam Pro';

    /* rounded elements */
    --button-rounding: 8px;
    --listbox-rounding: 8px;
    --pane-rounding: 16px;
    
    /* pane margins (when 'rounded-panes.css' is enabled) */
    --left-pane-margin: 8px 8px;
    --centre-pane-margin: 16px 4px;
    --big-pane-margin: 16px 16px 16px 4px;

    /* specific scenario variables */
    --folderpane-folder-font-size: 1.1em;
    --folderpane-folder-padding: 2px;
    --threadpane-thread-margin: 2px 8px;
    --messagepane-header-margin: 6px;

    /* theme colors */
    --theme-main-color: var(--selected-item-color);
    --theme-light-color: hsl(from var(--theme-main-color) calc(h - 0) calc(s + 40) calc(l + 20));
    --theme-dark-color: hsl(from var(--theme-main-color) calc(h + 0) calc(s - 30) calc(l - 50));
    --theme-flex-color: light-dark(var(--theme-light-color), var(--theme-dark-color));

    /* background colors */
    --bg-main-plain-color: light-dark(var(--color-gray-30),var(--color-gray-90));
    --bg-main-color: var(--bg-main-plain-color);
    --bg-accent-plain-color: light-dark(var(--color-gray-20),var(--color-gray-80));
    --bg-accent-color: var(--bg-accent-plain-color);

    /* other colors */
    --pane-splitter-color: transparent;
    --border-main-color: light-dark(var(--color-gray-30), transparent);
    --border-select-color: light-dark(var(--color-gray-80), var(--color-gray-30));

    /* other attributes */
    --box-shadow-subtle: 0px 0px 4px light-dark(#00000011,#00000033);

}