
/* IMPORTS */
@import 'src/global.css';
@import 'src/tablist-smooth.css';
@import 'src/tablist-clear.css';
@import 'src/inboxes-clean.css';
@import 'src/rounded-panes.css';

/* VARIABLES */
:root {
    --fallback-font: 'sans-serif';
    --base-font: 'Be Vietnam Pro';
    --folder-font: 'Be Vietnam Pro';
    --subject-font: 'Be Vietnam Pro';

    --button-rounding: 8px;
    --listbox-rounding: 8px;
    --pane-rounding: 16px;
    
    --folderpane-margin: 4px;
    --folderpane-folder-font-size: 1.1em;
    --folderpane-folder-padding: 2px;
    --threadpane-margin: 8px;
    --threadpane-thread-margin: 2px 8px;
    --threadpane-card-height: 70px;
    --messagepane-margin: 8px;
    --messagepane-header-margin: 6px;

    --bg-main-color: light-dark(var(--color-gray-30),var(--color-gray-100));
    --bg-accent-color: light-dark(var(--color-gray-20),var(--color-gray-80));
    --pane-splitter-color: light-dark(var(--color-gray-30), var(--color-gray-90));
    --border-main-color: light-dark(var(--color-gray-30), transparent);
    --box-shadow-subtle: 0px 0px 4px light-dark(#00000011,#00000033);
}