/* overall address books container */
body:has(#booksPane) {
    background: var(--bg-primary-base-color) !important;

    grid-template:
    "books booksSplitter cards sharedSplitter details" minmax(auto, 1fr) /
    minmax(var(--ab-pane-min-width), calc(var(--booksSplitter-width) + 1 * var(--left-pane-margin)))
    min-content
    minmax(var(--ab-cards-pane-min-width), calc(var(--sharedSplitter-width) + 1 * var(--secondary-pane-margin)))
    min-content
    minmax(var(--ab-details-pane-min-width), 1fr)
    !important;
}