#folderPane,
#booksPane {
    /* background: transparent !important;
    margin: var(--left-pane-margin); */
    margin: var(--left-pane-margin);
    margin-right: 0px;
    padding: 2px 8px;
    border: none;
    border-radius: var(--pane-rounding);
    /* box-shadow: var(--box-shadow-subtle); */

    /* pane header */
    & > .sidebar-panel-header {
        background-color: transparent !important;
    }

    & > .sidebar-panel-scroll {
        &::before, &::after {
            display: none !important;
        }
    }
}