#threadPane,
#cardsPane {
    margin: var(--secondary-pane-margin);
    margin-left: var(--between-panes-margin);
    margin-right: var(--between-panes-margin);
    border: none;
    border-radius: var(--pane-rounding);
    box-shadow: var(--box-shadow-subtle);
}
#messagePane,
#accountCentralBrowser,
#detailsPane {
    margin: var(--big-pane-margin);
    margin-left: var(--between-panes-margin);
    border: none;
    border-radius: var(--pane-rounding);
    box-shadow: var(--box-shadow-subtle);
}