/* overall pane container */
#calendarDisplayBox {
    
    /* calendar view container (hidden in tasks view) */
    & > #calendar-view-box {
        gap: var(--pane-margin);

        /* style used children as boxes */
        & > *:has(*) {
            overflow: hidden;

            border: var(--pane-border-width) solid var(--pane-border-color) !important;
            border-radius: var(--pane-border-radius) !important;
            background: var(--color-bg-2) !important;
        }

        /* hide unused children (like notification bar) */
        & > *:not(:has(*)) {
            display: none !important;
        }

        /* header */
        & > #calendarViewHeader {

        }

        /* calendar graph container */
        & > #view-box {

            & > #day-view,
            & > #week-view,
            & > #multiweek-view,
            & > #month-view
            {
                padding: 0px !important;
                margin: -1px !important;
            }

            & > #day-view,
            & > #week-view
            {
                & .multiday-events-list {
                    margin: 0px !important;
                }
                & .multiday-event-listitem {
                    & > .calendar-color-box {
                        border-radius: 8px !important;
                    }
                }
            }
        }
    }
}