/* calendar sidebar overall container */
#calSidebar {

    /* header bar */
    & > #primaryButtonSidePanel {

    }

    /* mini calendar month segment */
    & > #minimonth-pane {

        /* calendar container (with margin) */
        & > vbox > #calMinimonthBox {
            
            /* calendar visual box */
            & > #calMinimonth {
                background-color: var(--color-bg-2) !important;

                /* mini-calendar header */
                & > .minimonth-header {

                    /* header sub-section */
                    & > .minimonth-nav-section {
                        overflow: hidden;
                        background-color: var(--color-bg-3) !important;

                        & > * {
                            border: none !important
                        }

                        & > button {
                            background-color: transparent !important;

                            &:hover {
                                background-color: var(--color-gray-50) !important;
                            }
                        }
                    }
                }

                /* mini-calendar grid */
                & > .minimonth-calendar {

                    /* calendar labels */
                    & .minimonth-week {
                        border-radius: var(--button-border-radius);
                    }
                }
            }
        }
    }

    /* calendar selector segment */
    & > #calendar-panel {
        
        /* tasks filter sub-segment (hidden in calendar view) */
        & > #task-filter-pane {

        }

        /* list of calendars sub-segment */
        & > #calendar-list-pane {

        }
    }
}