/* overall pane container */
#calendarDisplayBox {
    
    /* calendar view container (hidden in tasks view) */
    & > #calendar-view-box {
        gap: var(--pane-margin);
        
        /* "calendar is deactivated" notification */
        & > #calendar-deactivated-notification-location-events {
            overflow: hidden;
            
            padding: 0px !important;
            margin: 0px !important;

            border: var(--pane-border-width) solid var(--pane-border-color) !important;
            border-radius: var(--pane-border-radius) !important;

            /* hide if not in-use */
            &:not(:has(*)) {
                display: none !important;
            }
        }

        /* list of events box */
        & > #bottom-events-box {
            overflow: hidden;

            margin-bottom: calc(0px - var(--pane-margin));

            border: var(--pane-border-width) solid var(--pane-border-color) !important;
            border-radius: var(--pane-border-radius) !important;
            background: var(--app-bg-color) !important;

            /* tasks search bar */
            & > #unifinder-searchBox {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                margin: 0px 4px !important;

                background-color: transparent !important;
                border: none !important;

                & > #unifinder-closer {
                    content: url(chrome://global/skin/icons/close.svg);
                    width: 20px;
                    height: 20px;
                    margin: 0px !important;
                }
            }

            /* tasks table container */
            & > #unifinder-search-results-tree {
                padding: 8px;

                background-color: transparent !important;

                /* table header element */
                & > treecols {
                    overflow: hidden;
                    border: var(--pane-border-width) solid var(--pane-border-color) !important;
                    border-radius: calc(var(--pane-border-radius) - 8px);

                    /* all contained header elements */
                    & * {
                        border-color: var(--pane-border-color) !important;
                        box-shadow: none !important;
                    }
                }

                /* table content */
                & > treechildren {
                    overflow: hidden;
                    border-radius: calc(var(--pane-border-radius) - 8px);

                    /* (uses legacy ::-moz pseudoelements) */
                    &::-moz-tree-row {
                        border-radius: calc(var(--pane-border-radius) - 8px);
                        margin-top: 4px;
                    }
                }
            }
        }

        /* header */
        & > #calendarViewHeader {
            overflow: hidden;

            border: var(--pane-border-width) solid var(--pane-border-color) !important;
            border-radius: var(--pane-border-radius) !important;
            background: var(--pane-bg-color) !important;
        }

        /* calendar graph container */
        & > #view-box {
            overflow: hidden;

            border: var(--pane-border-width) solid var(--pane-border-color) !important;
            border-radius: var(--pane-border-radius) !important;
            background: light-dark(var(--pane-bg-color), var(--app-bg-color)) !important;

            & > #day-view,
            & > #week-view,
            & > #multiweek-view,
            & > #month-view
            {
                padding: 0px !important;
                margin: -1px !important;

                & .calendar-color-box {
                    border-radius: 8px !important;
                }
            }

            & > #day-view,
            & > #week-view
            {
                & .multiday-events-list {
                    margin: 0px !important;
                }
            }

            & > #multiweek-view,
            & > #month-view
            {
                & .calendar-month-day-box-current-month {
                    background: transparent !important;
                }
                & .calendar-month-day-box-other-month {
                    background: #88888822 !important;
                }
            }
        }
    }
}