/* container for all calendar and tasks panes */
#calendarContent {
    background-color: var(--app-bg-color) !important;

    /* main pane (calendar/tasks) */
    & > #calendarDisplayBox {
        border: none !important;
        background: transparent !important;
    }
}