/* calendar sidebar overall container */
#calSidebar {

    /* header bar */
    & > #primaryButtonSidePanel {

    }

    /* mini calendar month segment */
    & > #minimonth-pane {

        /* calendar container (with margin) */
        & > vbox > #calMinimonthBox {
            
            /* calendar visual box */
            & > #calMinimonth {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;

                border-radius: calc(var(--button-border-radius) + 2px) !important;
                background-color: var(--color-bg-2) !important;

                /* mini-calendar header */
                & > .minimonth-header {

                    /* header sub-section */
                    & > .minimonth-nav-section {
                        overflow: hidden;
                        border-radius: var(--button-border-radius);
                        background-color: var(--color-bg-3) !important;

                        /* all header elements */
                        & > * {
                            border: none !important;
                            border-radius: 4px !important;
                        }

                        /* all header buttons */
                        & > button {
                            background-color: transparent !important;

                            &:hover {
                                background-color: var(--color-gray-50) !important;
                            }
                        }
                    }
                }

                /* mini-calendar grid */
                & > .minimonth-calendar {
                    /* misc calendar labels */

                    & .minimonth-row-body {
                        border: 1px solid var(--color-gray-50) !important;
                    }

                    & .minimonth-week,
                    & .minimonth-day,
                    & .minimonth-row-header {
                        box-sizing: border-box;
                        width: 2.5rem !important;
                        height: 2.5rem !important;
                        padding: 0em !important;
                        
                        vertical-align: middle !important;
                        border-radius: var(--button-border-radius) !important;
                        background-color: transparent !important;
                    }

                    & .minimonth-week,
                    & .minimonth-row-header {
                        font-size: 0.7em;
                        color: var(--color-adapt-30) !important;

                        &:hover {
                            color: var(--color-adapt-50) !important;
                        }
                    }

                    & .minimonth-day {
                        font-size: 1.05em;
                        font-weight: bold;
                        position: relative;

                        border-radius: 8px !important;

                        /* events indicator */
                        &::after {
                            position: absolute;
                            top: 75%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                        
                        /* interaction styles */
                        &:hover {border-color: var(--color-theme-50) !important;}
                        &:active {
                            color: var(--color-theme-50) !important;
                            background-color: var(--color-theme-30) !important;
                        }

                        /* various types of days (in order of style priority) */
                        &[othermonth] {color: var(--color-adapt-40) !important;}
                        &[today] {background-color: var(--color-adapt-30) !important;}
                        &[selected] {
                            color: var(--color-theme-50) !important;
                            border-color: var(--color-theme-50) !important;
                        }
                    }
                }
            }
        }
    }

    /* calendar selector segment */
    & > #calendar-panel {
        position: relative !important;
        padding: 0px !important;

        /* all sub-segment headers */
        & > * > .calendar-list-header {
            background-color: transparent !important;
            border-style: solid !important;
            border-width: 1px 0px 0px 0px !important;
            border-color: var(--pane-border-color) !important;
            color: var(--color-gray-50) !important;
            cursor: pointer;
        }

        & > * > calendar-modevbox {
            margin-bottom: 8px;
        }
        
        /* tasks filter sub-segment (hidden in calendar view) */
        & > #task-filter-pane {

            & > #task-filtertree-pane > #task-tree-filtergroup {
                & > radio > .radio-label-box {
                    margin-left: 8px !important;
                }
            }
        }

        /* list of calendars sub-segment */
        & > #calendar-list-pane {

            /* calendar list element */
            & > #calendar-list-inner-pane > ol#calendar-list {
                & > li {
                    border-radius: var(--listbox-border-radius) !important;
                }
            }
        }
    }
}