/* overall calendar and tasks pane container */
#calendarDisplayBox {

    /* tasks view container (hidden in calendar view) */
    & > #calendar-task-box {
        gap: var(--pane-margin);

        /* style used children as boxes */
        & > *:not(vbox):has(*) {
            overflow: hidden;

            border: var(--pane-border-width) solid var(--pane-border-color) !important;
            border-radius: var(--pane-border-radius) !important;
            background: var(--pane-bg-color) !important;
        }

        /* hide unused children (like notification bar) */
        & > *:not(:has(*)) {
            display: none !important;
        }

        /* header */
        & > #task-addition-box {
            
        }

        /* tasks table and details container */
        & > vbox {

            /* tasks table container */
            & > #calendar-task-tree {
                padding: 8px;

                border: var(--pane-border-width) solid var(--pane-border-color) !important;
                border-radius: var(--pane-border-radius) !important;
                background: light-dark(var(--pane-bg-color), var(--app-bg-color)) !important;

                /* table header element */
                & > treecols {
                    overflow: hidden;
                    border: var(--pane-border-width) solid var(--pane-border-color) !important;
                    border-radius: calc(var(--pane-border-radius) - 8px);

                    /* individual header columns */
                    & * {
                        border-color: var(--pane-border-color) !important;
                        box-shadow: none !important;
                    }
                }

                /* table content */
                & > treechildren {
                    overflow: hidden;
                    border-radius: calc(var(--pane-border-radius) - 8px);

                    /* (uses legacy ::-moz pseudoelements) */
                    &::-moz-tree-row {
                        border-radius: calc(var(--pane-border-radius) - 8px);
                        margin-top: 4px;
                    }
                }
            }

            /* splitter hidden when no task details */
            &:has(#calendar-task-details-container[hidden]) > #calendar-task-view-splitter {
                display: none !important;
            }

            /* task details container (entire box) */
            & > #calendar-task-details-container {
                overflow: hidden;
                margin-top: 8px;
                
                border: var(--pane-border-width) solid var(--pane-border-color) !important;
                border-radius: var(--pane-border-radius);
                background: light-dark(var(--pane-bg-color), var(--app-bg-color)) !important;

                /* task actions and properties (header box) */
                & > #calendar-task-details {
                    border: none !important;
                    background: var(--pane-bg-color) !important;

                    /* task actions */
                    & > #other-actions-box {
                        padding: 4px !important;

                        & > #task-actions-toolbox {
                            padding: 0px !important;
                        }
                    }
                    /* task key-value-pair properties */
                    & > #calendar-task-details-box {
                        padding: 0px 4px !important;
                    }
                }

                /* task description and content (lower box) */
                & > #calendar-task-details-description-wrapper > #calendar-task-details-description {
                    padding: 0px !important;
                }
            }
        }

    }
}