/* background for calendar panes */
#calendarContent {
    background: var(--bg-primary-color) !important;
    background-attachment: fixed !important;
}
/* background for dynamic task/agenda pane */
#tabmail-container {
    background: var(--bg-primary-color) !important;
    background-attachment: fixed !important;
    & #today-pane-panel {
        overflow: hidden;
    }
}



/* left-hand sidebar */
#calSidebar {
    /* mini calendar view (includes buttons) */
    & #calMinimonthBox {

        /* mini calendar header */
        & .minimonth-header {
            & .minimonth-nav-section  {
                overflow: hidden;
            }
        }

        /* individual mini calendar day */
        & .minimonth-day,
        & .minimonth-week {
            padding: 8px 4px !important;

            &[selected] {
                background: var(--theme-faded-color) !important;
            }
            &::after {
                display: none !important;
            }
        }
    }
}

/* entire large calendar pane */
#calendarDisplayBox {

    /* calendar weekly or monthly grid */
    & #calendar-view-box {
        & .multiday-grid * {
            --viewBackground: var(--bg-primary-base-color);
            --viewTodayBackground: color-mix(in srgb, var(--bg-tertiary-color), var(--theme-highlight-color));
            --viewWeekendBackground: var(--bg-tertiary-color);
            --viewOffTimeBackground: var(--bg-primary-base-color);
            --viewBorderColor: var(--bg-secondary-color);
            --viewDayBoxSelectedBackground: var(--theme-faded-color);
        }
    }
    /* calendar tree of tasks */
    & #calendar-task-box {


        /* task table menu, above header */
        & #task-addition-box {
            border: none !important;
        }

        /* calendar task table */
        & #calendar-task-tree {
            background: var(--bg-primary-base-color) !important;

            & treecols {
                & treecol {
                    box-shadow: none !important;
                }
            }
        }
    }
}