/* background behind panes */
#calendarContent {
    background: var(--bg-primary-base-color) !important;
    background-attachment: fixed !important;
}
/* background behind specifically dynamic task/agenda pane */
#tabmail-container {
    background: var(--bg-primary-base-color) !important;
    background-attachment: fixed !important;
    & #today-pane-panel {
        overflow: hidden;
    }
}



/* left-hand sidebar */
#calSidebar {
    /* mini calendar view (includes buttons) */
    & #calMinimonthBox {

        /* mini calendar header */
        & .minimonth-header {
            & .minimonth-nav-section  {
                overflow: hidden;
            }
        }

        /* individual mini calendar day */
        & .minimonth-day,
        & .minimonth-week {
            padding: 8px 4px 7px !important;

            &[selected] {
                background: var(--theme-faded-color) !important;
            }
            &::after {
                display: none !important;
            }
        }
    }
}

/* entire large calendar pane */
#calendarDisplayBox {

    /* calendar weekly or monthly grid */
    & #view-box {
        /* all calendar boxes colors */
        & #day-view,
        & #week-view,
        & #multiweek-view,
        & #month-view {
            /* selected day */
            --viewDayBoxSelectedBackground: var(--theme-faded-color);
            /* default bg */
            --viewBackground: var(--bg-primary-base-color);
            --viewOffTimeBackground: color-mix(in srgb, var(--viewBackground) 85%, var(--color-gray-80));
            /* today */
            --viewTodayBackground: color-mix(in srgb, var(--theme-base-color) 10%, var(--bg-primary-base-color));
            --viewTodayOffBackground: color-mix(in srgb, var(--viewTodayBackground) 85%, var(--color-gray-80));
            /* weekend */
            --viewWeekendBackground: color-mix(in srgb, var(--viewBackground) 85%, var(--color-gray-80));
            --viewMonthDayOffLabelBackground: color-mix(in srgb, var(--viewWeekendBackground) 90%, var(--color-gray-80));
            /* out of month */
            --viewMonthDayOtherBackground: color-mix(in srgb, var(--bg-primary-base-color) 85%, var(--color-gray-80));
            /* border */
            --viewBorderColor: light-dark(var(--color-gray-40), var(--color-gray-80));
        }
    }
    /* calendar tree of tasks */
    & #calendar-task-box {


        /* task table menu, above header */
        & #task-addition-box {
            border: none !important;
        }

        /* calendar task table */
        & #calendar-task-tree {
            background: var(--bg-primary-base-color) !important;

            & treecols {
                & treecol {
                    box-shadow: none !important;
                }
            }
        }
    }
}