/* background behind panes */
#calendarContent {
    background: var(--bg-primary-base-color) !important;
    background-attachment: fixed !important;
}
/* background behind specifically dynamic task/agenda pane */
#tabmail-container {
    background: var(--bg-primary-base-color) !important;
    background-attachment: fixed !important;
    & #today-pane-panel {
        overflow: hidden;
    }
}



/* left-hand sidebar */
#calSidebar {
    /* mini calendar container  */
    & #calMinimonthBox {
        
        /* mini calendar box (includes buttons) */
        & #calMinimonth {
            --mmMainBorderColor: transparent !important;
            --mmMainBorderRadius: calc(var(--button-border-radius) + 2px) !important;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            /* mini calendar header */
            & .minimonth-header {
                & .minimonth-nav-section  {
                    overflow: hidden;
                }
            }
        }
        
        /* every cell in calendar grid */
        & .minimonth-row-header,
        & .minimonth-day,
        & .minimonth-week {
            /* default day */
            --mmDayPadding: 0px;
            --mmDayBorderRadius: 32px;
            --mmDayColor: inherit;
            --mmDayBackground: transparent;
            --mmDayBorderColor: transparent;
            /* on click */
            --mmHighlightColor: var(--mmDayColor);
            --mmHighlightBackground: var(--mmDayBackground);
            /* on hover */
            --mmHighlightBorderColor: var(--mmDayBorderColor);
            /* selected day */
            --mmDaySelectedColor: var(--theme-base-color);
            --mmDaySelectedBackground: var(--theme-faded-color);
            --mmDaySelectedBorderColor: transparent;
            /* today day */
            --mmDayTodayBackground: inherit;
            --mmDayTodayBorderColor: inherit;
            /* selected and today day */
            --mmDaySelectedTodayBackground: color-mix(in srgb, var(--theme-faded-color) 85%, #888888);
            --mmDaySelectedTodayBorderColor: transparent;

            border-width: 0px !important;
            vertical-align: middle !important;
            text-align: center !important;
            padding-top: 1px !important;
            box-sizing: border-box !important;
            height: 2.5em !important;
            width: 2.5em !important;

        }

        /* specifically clickable day cells */
        & .minimonth-day[interactive] {
            position: relative !important;

            /* events on day dot indicator */
            &::after {
                --mmDayBusyColor: inherit;
                --mmDayBusyIndicatorSize: 4px;
                display: block;
                position: absolute;
                width: var(--mmDayBusyIndicatorSize);
                height: var(--mmDayBusyIndicatorSize);
                left: 50%;
                bottom: 0.2em;
                /* for centering */
                transform: translateX(-50%); 
            }
        }
        /* specifically week number labels */
        & .minimonth-week {
            padding-right: 0.5em !important;
        }
    }

    & #calendar-list {
        & > li {
            border-radius: var(--button-border-radius) !important;
        }
    }
}

/* entire large calendar pane */
#calendarDisplayBox {

    /* calendar weekly or monthly grid */
    & #view-box {
        /* all calendar boxes colors */
        & #day-view,
        & #week-view,
        & #multiweek-view,
        & #month-view {

            /* default bg */
            --viewBackground: var(--bg-primary-base-color);
            --viewOffTimeBackground: color-mix(in srgb, var(--viewBackground) 85%, black);

            /* selected day */
            --viewDayBoxSelectedBackground: var(--theme-faded-color);
            /* today (day-hours and off-hours) */
            --viewTodayBackground: color-mix(in srgb, var(--theme-base-color) 10%, var(--bg-primary-base-color));
            --viewTodayOffBackground: color-mix(in srgb, var(--viewTodayBackground) 85%, black);

            /* weekend (day-hours and off-hours */
            --viewWeekendBackground: color-mix(in srgb, var(--viewBackground) 85%, black);
            --viewMonthDayOffLabelBackground: color-mix(in srgb, var(--viewWeekendBackground) 90%, black);
            /* out of month (multiweek and monthly view) */
            --viewMonthDayOtherBackground: color-mix(in srgb, var(--bg-primary-base-color) 85%, black);
            
            /* table borders */
            --viewBorderColor: light-dark(var(--color-gray-40), var(--color-gray-80));
        }
    }
    /* calendar tree of tasks */
    & #calendar-task-box {


        /* task table menu, above header */
        & #task-addition-box {
            border: none !important;
        }

        /* calendar task table */
        & #calendar-task-tree {
            background: var(--bg-primary-base-color) !important;

            & treecols {
                & treecol {
                    box-shadow: none !important;
                }
            }
        }
    }
}

/* right-hand sidebar */
#today-pane-panel {
    /* header */
    & .sidebar-header {
        padding: 0px 8px;
    }

    /* task list/tree */
    & #unifinder-todo-tree {
        padding: 0px 8px;

        & treecols {
            & > * {
                box-shadow: none !important;
            }
            & > treecolpicker {
                border-inline-start: none !important;
                & > * {
                    box-shadow: none !important;
                }
            }
        }
    }

    /* new-task input bar */
    & #unifinder-task-edit-field {
        margin: 8px 16px !important;
    }

    & #mini-day-box {
        & #datevalue-label {
            margin: 0px 8px !important;
        }
        & #monthNameContainer {
            margin-bottom: 2px !important;
        }
    }
}