/* today pane container */
#today-pane-panel {
    overflow: hidden;

    background-color: var(--app-bg-color) !important;

    /* header */
    & > .sidebar-header {
        border: none !important;

        /* header text */
        & > #today-pane-header {
            padding-inline-start: 8px !important;
        }
    }
}

/* splitter for today pane */
#today-splitter {
    margin-block: 16px !important; /* top and bottom margin */

    border-left-width: 1px !important;
    border-color: var(--pane-border-color) !important;
}