/* overall settings */
#prefBox {

    /* settings sidebar */
    &>#pref-category-box {
        inline-size: 18em !important;

        /* settings sections list */
        &>#categories {

            /* setting section item */
            &>.category {
                min-height: 2.5rem !important;

                border: none !important;
                border-radius: var(--button-border-radius) !important;

                &:active {
                    color: initial !important;
                }
            }
        }

        /* sidebar footer buttons list */
        &>.sidebar-footer-list {

            /* sidebar footer item (consistent with same on extensions, via different method) */
            &>.sidebar-footer-link {
                box-sizing: border-box;
                block-size: 30px !important;

                &>.sidebar-footer-icon {
                    margin: 0px 8px 0px 12px !important;
                }
            }
        }
    }

    /* settings content */
    &>#preferencesContainer {

        /* content container */
        &>.paneDeckContainer {

            /* sticky header bar */
            &>.sticky-container {
                background: var(--color-bg-0) !important;
            }
        }
    }
}