/* overall settings */
#prefBox {

    /* settings sidebar */
    &>#pref-category-box {
        inline-size: 18em !important;

        background-color: var(--color-bg-2) !important;
        outline: 1px solid var(--color-border-2) !important;

        /* settings sections list */
        &>#categories {

            /* setting section item */
            &>.category {
                min-height: 2.5rem !important;

                border: none !important;
                border-radius: var(--button-border-radius) !important;

                &:active {
                    color: initial !important;
                }
            }
        }

        /* sidebar footer buttons list */
        &>.sidebar-footer-list {

            /* sidebar footer item (consistent with same on extensions, via different method) */
            &>.sidebar-footer-link {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                height: 30px !important;
                padding-left: 12px;
                gap: 8px;

                box-sizing: border-box;
                border: none !important;

                &>.sidebar-footer-icon {
                    margin: 0px !important;
                }
            }
        }
    }

    /* settings content */
    &>#preferencesContainer {

        /* content container */
        &>.paneDeckContainer {

            /* sticky header bar */
            &>.sticky-container {
                background: var(--color-bg-0) !important;
            }
        }
    }
}