:root {
    --bg-main-plain-color: light-dark(var(--color-gray-30),var(--color-gray-90)) !important;
    --bg-main-color: linear-gradient(to bottom,var(--bg-main-plain-color) 70%, var(--theme-flex-color) 200%) !important;

    --bg-accent-plain-color: light-dark(var(--color-gray-20),var(--color-gray-80));
    --bg-accent-color: color-mix(in srgb, var(--bg-accent-plain-color) 98%, var(--theme-flex-color) 2%);
}