:root {
    --button-border-radius: var(--button-rounding) !important;
    --listbox-border-radius: var(--listbox-rounding) !important;
}

/* window layout */
#paneLayout {
    background-color: var(--bg-main-color) !important;

    & > #folderPaneSplitter,
    & > #messagePaneSplitter {
        border-color: var(--pane-splitter-color) !important;
    }
}

/* list of inboxes */
#folderPane {
    background: transparent !important;
    margin: var(--folderpane-margin);

    /* pane header */
    & > #folderPaneHeaderBar {
        background-color: transparent !important;
    }
    /* list of folder lists */
    & > #folderTree {
        &::before, &::after {
            display: none !important;
        }
        /* individual selection */
        & .container {
            font-size: var(--folderpane-folder-font-size) !important;
            border-color: transparent !important;
            padding-top: var(--folderpane-folder-padding) !important;
            padding-bottom: var(--folderpane-folder-padding) !important;
            margin: 1px 0px !important;
            & * {
                font-family: var(--folder-font), var(--base-font), var(--fallback-font);
                font-weight: 400 !important;
            }
        }
    }
}

/* list of emails */
#threadPane {

    /* header bar */
    & #threadPaneHeaderBar {
        background-color: var(--bg-accent-color) !important;
        border-block-end: none !important;

        /* left side of header */
        & > .list-header-bar-container-start {
            padding: 3px 8px 3px 10px !important;
        }
        & > .list-header-bar-container-end {
            padding: 6px 3px 6px 3px !important;
        }
    }
    /* list of emails */
    & #threadTree {
        background-color: var(--bg-accent-color) !important;
        
        /* individual email threads */
        & .card-layout {

            & > td {
                padding: var(--threadpane-thread-margin) !important;

                /* individual email cards */
                & .card-container {
                    border-color: var(--border-main-color) !important;
                    box-shadow: var(--box-shadow-subtle);

                    &:not(:hover) {
                        background-color: var(--layout-background-0) !important;
                    }

                    & .thread-card-column {
                        margin-top: 10px;
                    }

                    & .thread-card-row {
                        color: var(--color-gray-50);
                        & * {
                            font-weight: 400 !important;
                            font-size: 0.8em !important;
                        }
                    }
                    & .thread-card-dynamic-row {
                        display: flex !important;
                        flex-flow: row nowrap !important;

                        & .thread-card-subject-container {
                            order: 2;
                            flex-grow: 1 !important;
                        }
                        & .thread-card-icon-info {
                            order: 1;
                            flex-grow: 0 !important;
                            flex-direction: row-reverse;
                        }
                    }
                }
            }
        }
    }
}

/* email container */
#messagepanebox {
    background-color: var(--layout-background-0) !important;

    /* header above email */
    & #singleMessage {
        padding: 8px;
        margin: var(--messagepane-header-margin) !important;
        margin-bottom: 0px !important;
        border: 1px solid var(--border-main-color);
        border-radius: calc(var(--pane-rounding) - var(--messagepane-header-margin) + 1px);
        background-color: var(--bg-accent-color) !important;
        box-shadow: var(--box-shadow-subtle);
        z-index: 1;

        & #messageHeader {
            gap: 0px !important;

            /* email links */
            & .header-recipient {
                padding: 0px 8px !important;
                &[data-header-name="from"] {
                    padding: 4px 8px !important;
                }
            }
            /* subject header */
            & #headerSubjectSecurityContainer {
                margin: 8px 0px 4px !important;
                & * { font-family: var(--subject-font), var(--base-font), var(--fallback-font); }
            }
            /* tags */
            & .tag {
                padding: 1px 6px !important;
                border-radius: 16px !important;
            }
        }
    }
    /* popup notification for email */
    & #mail-notification-top {
        border-block-end: none !important;
    }
    /* email content */
    & #messagepane {
        margin: 0px 24px !important;
    }
}
