:root {
    --button-border-radius: 8px !important;
    --listbox-border-radius: 8px !important;
}

/* window layout */
#paneLayout {
    background-color: light-dark(#e4e4e8,#0f0f0f) !important;
}

/* list of inboxes */
#folderPane {
    background: transparent !important;
    margin: 4px;

    /* pane header */
    & > #folderPaneHeaderBar {
        background-color: transparent !important;
    }
    /* list of folder lists */
    & > #folderTree {
        &::before, &::after {
            display: none !important;
        }
        /* individual selection */
        & .container {
            font-size: 1.1em !important;
            border-color: transparent !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;
            margin: 1px 0px !important;
            & * {
                font-weight: 400 !important;
            }
        }
    }
}

/* list of emails */
#threadPane {

    /* header bar */
    & #threadPaneHeaderBar {
        border-block-end: none !important;

        /* left side of header */
        & > .list-header-bar-container-start {
            padding: 3px 8px 3px 10px !important;
        }
        & > .list-header-bar-container-end {
            padding: 6px 3px 6px 3px !important;
        }
    }
    /* list of emails */
    & #threadTree {
        background-color: var(--layout-background-1) !important;
        
        /* individual email threads */
        & .card-layout {
            height: 70px !important;

            & > td {
                padding: 2px 8px !important;

                /* individual email cards */
                & .card-container:not(:hover) {
                    background-color: var(--layout-background-0) !important;
                }
                & .card-container {
                    border-color: light-dark(var(--color-gray-30), transparent) !important;
                    box-shadow: 0px 0px 4px #00000033;

                    & .thread-card-column {
                        margin-top: 11px;
                    }

                    & .thread-card-row {
                        color: var(--color-gray-50);
                        & * {
                            font-weight: 400 !important;
                            font-size: 0.8em !important;
                        }
                    }
                    & .thread-card-dynamic-row {
                        display: flex !important;
                        flex-flow: row nowrap !important;

                        & .thread-card-subject-container {
                            order: 2;
                            flex-grow: 1 !important;
                        }
                        & .thread-card-icon-info {
                            order: 1;
                            flex-grow: 0 !important;
                            flex-direction: row-reverse;
                        }
                    }
                }
            }
        }
    }
}

/* email container */
#messagepanebox {
    background-color: var(--layout-background-0) !important;

    /* header above email */
    & #singleMessage {
        padding: 8px;
        margin: 6px 6px 0px 6px !important;
        border: 1px solid light-dark(var(--color-gray-30), var(--layout-background-1));
        border-radius: 11px;
        background-color: var(--layout-background-1) !important;
        box-shadow: 0px 0px 4px #00000033;
        z-index: 1;

        & #messageHeader {
            gap: 0px !important;

            /* email links */
            & .header-recipient {
                padding: 0px 8px !important;
                &[data-header-name="from"] {
                    padding: 4px 8px !important;
                }
            }
            /* subject header */
            & #headerSubjectSecurityContainer {
                margin: 8px 0px 4px !important;
            }
            /* tags */
            & .tag {
                padding: 1px 6px !important;
                border-radius: 16px !important;
            }
        }
    }
    /* popup notification for email */
    & #mail-notification-top {
        border-block-end: none !important;
    }
    /* email content */
    & #messagepane {
        margin: 0px 24px !important;
    }
}
