/* || ALL PANES */

#folderPane,            /* inbox > folders-sidebar */
#threadPane,            /* inbox > email-list */
#messagePane,           /* inbox > email-viewer */
#accountCentralBrowser, /* inbox > account-settings */
#cardsPane,             /* contacts > address-books-sidebar */
#booksPane,             /* contacts > book-contacts-list */
#detailsPane,           /* contacts > contact-viewer */
#calSidebar,            /* calendar > calendar-sidebar */
#calendarDisplayBox,    /* calendar > calendar-center */
#today-pane-panel,      /* calendar > today-right-sidebar */
#chatTabPanel,          /* chat > chat-pane */
#pref-category-box,     /* settings > sidebar */
#sidebar,               /* extension-settings > sidebar */
#accountTreeBox         /* account-settings > sidebar */
{
    border: none;
    border-radius: var(--pane-radius);
}

/* || SMALL SIDEBAR PANE */

#folderPane,
#booksPane
{
    margin: var(--pane-margin);
    margin-right: 0px;
}

/* || MAIN SIDEBAR PANE */

#threadPane,
#cardsPane,
#calSidebar
{
    margin: var(--pane-margin);
    margin-right: 0px;
}

/* || BIG PANE */

#messagePane,
#accountCentralBrowser,
#detailsPane,
#calendarDisplayBox,
#chatTabPanel
{
    margin: var(--pane-margin);
}

/* || RIGHT SIDEBAR PANE */

#today-pane-panel
{
    margin: var(--pane-margin);
}

/* || SETTINGS SIDEBAR */

#pref-category-box,
#sidebar,
#accountTreeBox
{
    margin: var(--pane-margin) !important;
    height: calc(100dvh - 2 * var(--pane-margin)) !important;
}

/* || PANE SPLITTERS */

hr[is="pane-splitter"],
.calendar-sidebar-splitter,
.calendar-splitter
{
    border-width: 0px !important;
    inline-size: var(--pane-margin) !important;
    margin-inline-end: calc(0px - var(--pane-margin)) !important;
    margin-inline-start: 0px !important;
}