#threadPane,
#cardsPane {
    margin: var(--centre-pane-margin);
    border: none;
    border-radius: var(--pane-rounding);
    box-shadow: var(--box-shadow-subtle);
}
#messagePane,
#accountCentralBrowser,
#detailsPane {
    margin: var(--big-pane-margin);
    border: none;
    border-radius: var(--pane-rounding);
    box-shadow: var(--box-shadow-subtle);
}