/* window layout */
#paneLayout {
    & > #threadPane {
        margin: var(--threadpane-margin);
        border: none;
        border-radius: var(--pane-rounding);
    }
    & > #messagePane {
        margin: var(--messagepane-margin);
        border: none;
        border-radius: var(--pane-rounding);
    }
}