/* titlebar */
#titlebar > .icons-beside-text {
    border-block-end: none !important;
}

/* tab selection */
#tabs-toolbar {
    background-image: none !important;
    background-color: transparent !important;
    box-shadow: none !important;

    padding: 3px 3px 3px 3px !important;

    & .tabmail-tab {
        border: 1px solid transparent !important;
        border-radius: 16px !important;
        box-shadow: none !important;

        &[selected] {
            border: 1px solid #707070 !important;
        }

        & .tab-background > .tab-line {
            display: none !important;
        }
    }
}